<div id="body-div-wrapper">
<p id="notice"><%= notice %></p>
<% if @post.blank? %>
  <p>You do not have permission to view this file!!!</p>
<% else %>
  <p>
    <strong>Name:</strong>
    <%= @post.name %>
  </p>
  <% @post.images.each do |image| %>
    <% if image.variable? %>
      <%= link_to image_tag(image.variant(resize: "400x400")), image %>
    <% elsif image.previewable? %>
      <%= link_to image_tag (image.preview(resize: "400x400")), rails_blob_path(image, disposition: :attachement) %>
    <% else %>
      <%= link_to image.filename, rails_blob_path(image, disposition: :attachement)%>
    <% end %>  
  <% end %>

  <h2><%= link_to 'Edit', edit_post_path(@post) %></h2>
  <h2><%= link_to 'Back', posts_path %><h2>
<% end %>
</div>
