<div id="body-div-wrapper">
<p id="notice"><%= notice %></p>
<% if @post.blank? %>
  <p>You do not have permission to view this file!!!</p>
<% else %>
  <p>
    <strong>Name:</strong>
    <%= @post.name %>
  </p>
  <% @post.images.each do |image| %>
    <% if image.variable? %>
      <div class="card images" style="display: inline-block; margin: 0 25px 25px 0;">
        <%= link_to image_tag(image.variant(resize: "400x400")), image %>
        <div class="card-body">
          <button class="btn btn-warning"><%= link_to 'download', rails_blob_path(image, disposition: :attachment)%></button>
        </div>
      </div>
    <% elsif image.previewable? %>
      <div class="card images" style="display: inline-block; margin-right: 25px;">
         <%= link_to image_tag(image.preview(resize: "400x400")), rails_blob_path(image, disposition: :attachment) %>
          <div class="card-body">
            <button class="btn btn-warning" style="color: white;"><%= link_to 'download', rails_blob_path(image, disposition: :attachment)%></button>
          </div>
        </div>
    <% else %>
      <%= link_to image.filename, rails_blob_path(image, disposition: :attachment)%>
    <% end %>  
  <% end %>
<div id='wrap-button'>
  <button class="btn btn-success btn-lg"><%= link_to 'Edit', edit_post_path(@post) %></button>
  <button class="btn btn-success btn-lg"><%= link_to 'Back', posts_path %></button>
</div>
<% end %>
</div>
